@model IEnumerable<Everest_Video_Library.Models.VideoLibrary.Loan>


@{
    ViewBag.Title = "OnLoanDate";
}


@{ 
        var albums = Model.GroupBy(X => X.Dvds.Album.Name);
    }
    @foreach (var album in albums)
    {
        <div>
            @album.Key;
        </div>
        var loan = album.ToList().GroupBy(X => X.LoanDate);
        foreach(var i in loan)
        {
            <h4>s
                @i.Key
            </h4>
            <ul>
                @foreach (var j in i)
                {
                    <li>
                        @j.Members.FirstName + " " + @j.Members.LastName
                    </li>
                }

            </ul>
        }
    }



<h2>On LoanDate</h2>

